html {
--grey: #444;
--grey-dark: #333;
--grey-light: #f2f2f2;
}

body{
    font-family: 'Libre Franklin', sans-serif;
font-family: 'Zen Antique', serif;
}

h1 {
    font-weight: 500;
}

.grid{
    grid-template-columns: 
    [full-start] minmax(1rem, 1fr);
    [main-start] minmax(0, 1280px);
    [main-end] minmax(1rem, 1fr);
    [full-end];
}

.grid > * {
    grid-column: main;
}