body{
    margin: 0;
    background: lightgray;
    overflow: hidden;
  }
  .page {
    display: flex;
    background: lightgray;
    width: 100vw;
    height: 100vh;
  }
  
  .square {
    display: flex;
    background:rgb(0, 0, 0);
    width: 71.428571vw;
    height: 71.428571vh;
    margin:auto;
  }
  
  .inner {
    display: flex;
    width: 71.428571vw;
    height: 71.428571vh;
    margin:auto;
    object-fit: scale-down;
  }