html, body {
overflow: hidden; 
}

.page{
    display: flex;
    background: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;

}

.box-1 {
    display: flex;
    background: rgb(255, 255, 255);
    border:.25px solid rgb(150, 150, 150);
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}

.box-2 {
    display: flex;
    background: rgb(255, 255, 255);
    border:.5px solid rgb(200, 200, 200);
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.box-3 {
    display: flex;
    background: rgb(0, 0, 0);
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}

