html, body {
    margin: 0;
    overflow: hidden; 

    --size71width: 71.428571vw;
    --size71height: 71.428571vh;
    --size42width: 42.857143vw;
    --size42height: 42.857143vh;
    --size14width: 14.2857vw;
    --size14height: 14.2857vh;
    --blackline: 2.57082vw;
    --whiteline: 1.45782vw;
    --blackhalf: 1.28541vw;
}

.page{
    display: flex;
    background: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;

}

.board {
    display: flex;
    background: rgb(255, 255, 255);
    border:.25px solid rgb(150, 150, 150);
    width: var(--size71width);
    height: var(--size71height);
    margin: auto;
}

/* step 1 */
.linebox {
    display: flex;
    position: absolute;
    width: var(--size42width);
    height: var(--size42height);
}

.step1{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: var(--blackline);
    height: var(--size42height);
    margin: auto;
}

#outsideline-left{
    margin-left: 0;
}

#outsideline-right{
    margin-right: 0;
}
/* end of step 1 */

/* step 2 */

.linebox2 {
    display: flex;
    position: absolute;
    width: var(--size42width);
    height: var(--size42height);
    margin-left: var(--size14width);
    margin-top: var(--size14height);

    clip-path: inset(14.285714vh 14.285714vw 14.285714vh 14.285714vw);

}

.step2{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: var(--size42width);
    height: var(--size42height);
    margin-top: 0;
    margin-right: var(--blackhalf);
    margin-bottom: 0;
    margin-left: var(--blackhalf);

    scale: 1.25;
}

#lineleft{
    margin-left: 2.5vw;
}

#lineright{
    margin-right: 2.5vw;
}

/* end of step 2 */

/* step 3 */

.linebox3 {
    display: flex;
    position: absolute;
    width: calc(var(--size42width) + (var(--size14width)));
    height: var(--size42height);
    margin-left: calc(var(--size14width)*.5);
    margin-top: 14.2857vh;

clip-path: inset(0 10.14vw 0 10.14vw);
    /* 28.571428vw */
}

.step3{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: var(--blackline);
    height: var(--size42height);
    margin: auto;
}

#outsideline-left{
    margin-left: 0;
}

#outsideline-right{
    margin-right: 0;
}

/* end of step 3 */

/* step 4 */

.linebox4 {
    display: flex;
    position: absolute;
    width: var(--size42width);
    height: var(--size42height);
    margin-left: var(--size14width);
    margin-top: var(--size14height);

    clip-path: inset(14.285714vh 14.285714vw 14.285714vh 14.285714vw);

}


.step4{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: var(--size42width);
    height: var(--size42height);
    margin-top: 0;
    margin-right: var(--blackhalf);
    margin-bottom: 0;
    margin-left: var(--blackhalf);

    scale: 1.75;
}

#lineleft{
    margin-left: 2.5vw;
}

#lineright{
    margin-right: 2.5vw;
}

/* end of step 4 */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size14width);
    height: var(--size14height);

  }
  
  .element-to-scale {
    width: 200px;
    height: 200px;
    transform: scale(1);
    transform-origin: center;
    transform: scale(0);
    transition: transform 1s ease;
    transform-origin: center;
  }
  
  .scale-up {
    transform: scale(1);
  }

