/* 
Calling Fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/

html {
    --gray: #444;
    --gray-dark: #333;
    --gray-light: #f2f2f2;
    --charlie-orange: #E2782F;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
li {
    float: left;
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.home {

    Padding-right: 700px;
}
  
  li a:hover {
    background-color: #111111;
  }
h1 {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
}
h2 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

p{
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}

.sample {
    padding: 5rem 0;
}

footer{
    background-color: var(--gray-light);
    padding: 1.5rem 0;
}

footer p {
    margin-bottom: 0;
}

header {
    background-color: var(--gray-dark);
    padding: 1rem 0;
}

.overview {
    background-color: var(--gray);
    color: #fff;
    padding: 4rem 0;
}

figure {
    margin-top: 2rem;
}

figure img {
    margin-bottom: 1rem;
}

figcaption {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1px;
}
#social .sociallogo {
    display: inline-block;
    width: 48px;
    height: 48px;
    padding: 10px 0px 0px 20px;
}

@media screen and (min-width: 800px) {
  .two-column {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}

